<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Game of thrones quiz</title>
    <link rel="stylesheet" href="../styles//style.css" />
  </head>
  <body class="container">
    <h1>Title</h1>
    <img
      src="../assets/2_Chome_Asakusa.jpg"
      alt="placeholder image"
      width="500"
      height="500"
    />
    <div class="containerQueAns">
      <h2>Question</h2>
      <ul class="quesList" style="list-style-type: none;">
        <li><input type="radio" checked="checked" name="radio" />Answer1</li>
        <li><input type="radio" name="radio" />Answer2</li>
        <li><input type="radio" name="radio" />Answer3</li>
        <li><input type="radio" name="radio" />Answer4</li>
      </ul>
    </div>
    <button id="confirm">Confirm selection</button>

    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>
    <script src="../src/behaviour.js" type="text/javascript"></script>
  </body>
</html>
