.container{
display: flex;
flex-direction: column;
align-items: center;
}

.containerQueAns{
    max-width: 450px;
}
.containerList{
    display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul.quesList{
    padding-left: 0px; 
    font-size: large;  
}
ul li{ 
    margin-top: 2px;
    border: solid 1px black; 
}